{
  "globals": {
    "L": true,
  },
  "env": {
    "commonjs": true,
    "amd": true,
    "node": false
  },
  "extends": "mourner",
  "rules": {
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "indent": [2, "tab", {"VariableDeclarator": 0}],
    "curly": 2,
    "spaced-comment": 2,
    "strict": 0,
    "wrap-iife": 0,
    "key-spacing": 0
  }
}
