node_modules
.DS_Store
tmp/**/*
.idea
.idea/**/*
*.iml
_site
*.sublime-*
_site
dist/*.js
dist/*.map
dist/reference.html
coverage/
*.js.html
.mailmap
component.json
debug/local/
Gemfile.lock
yarn.lock
*.log
.eslintcache
