---
language: node_js
node_js:
- 0.1
env:
  global:
  - "ARTIFACTS_S3_BUCKET=leaflet-cdn"
  - secure: |-
      LnvY/vWpmAIObabLrpu1mWYw1udllVpZJrrhzsn3traL+qU6yaGniQOn6u+l
      iWSCuu7kXX3xv1GD7Fc6lTfQCg9F9dukWv9zlc4gFciyRpiUBuluuqtdV51A
      5yqpLkMpX2PMG7vwrOYttVW0uDlUcwGjyHxWZvnBOXCnnHSpnbI=
  - secure: |-
      EQ4c2c8VklzFZRxKnizI0/VK0anHhlyc1Rv0vqkMj/YPKxmbWNfOlsOCN2gM
      p+q8QzCG1Np9D1Kq9K0miYqHgZxgu4D/4Mwy04bh1UfyoUcDfB1tJmEtsKY/
      8Bl46ZfhxbTG39b6Y315GuU+49QdFMEXhSqx/G7on1xC4aYLXLc=
before_script:
- "gem install travis-artifacts"
after_success:
- "test ${TRAVIS_BRANCH} = master || test ${TRAVIS_BRANCH} = stable &&"
- "cd dist && zip -X -r ${TRAVIS_BRANCH}.zip . &&"
- "travis-artifacts upload --path ${TRAVIS_BRANCH}.zip --target-path build"
