sudo: false
language: node_js
node_js:
  - node
addons:
  artifacts:
    paths:
    - dist
    target_paths:
    - content/leaflet/${NAME}
env:
  global:
  - ARTIFACTS_BUCKET=leafletjs-cdn
  - ARTIFACTS_PERMISSIONS=public-read
  - secure: |-
      JlC1rD7WryxlUbWmD3NWVX9E60XB/+ss7+j0OaY3WqWziGUWDCuoVkOMGXnp
      Ev27O8qhlmRkeyiimUN64UzK0yeZ139DcZMY6r4A5E2kwHYRAO/H/zl5RAGo
      Yd9GUPwZfr3xV8WhH2GFy/L/mRjkGwue2o6ZxdsqBOKfYaF9Ryg=
  - secure: |-
      XW1hzORAtSpTgTKkQwel5gRMDy6SotzeSRsVV2jQCn46VIMx8G/J5nOI+ImL
      yeoH12PhCR0h39dM7mq8TYJo5DHwvbotI5nQhpMruSt8eMFbym8nGiqQh806
      fSJXkxmQ4MAjUdNFDIirBHhdZme8q3PueFzJ+5odFMvPGn/aITQ=
after_success:
  - npm run build
  - cd dist && zip -x .DS_Store -r leaflet.zip . && cd ..
  - NAME=$TRAVIS_BRANCH
  - '[[ $TRAVIS_PULL_REQUEST != ''false'' ]] && NAME=$TRAVIS_PULL_REQUEST'
  - '[[ -n $TRAVIS_TAG ]] && NAME=$TRAVIS_TAG'
