
body {
	font: 16px/1.5 'Open Sans', Arial, Helvetica, sans-serif;
	color: #333;
	}

.container {
	max-width: 920px;
	padding: 0 30px;
	margin: 0 auto;
}

p {
	margin: 1.4em 0;
	}

.container code, .container pre code {
	font-family: "Consolas", "Menlo", "Lucida Console", "Courier New", monospace;
	}
.container pre code {
	padding: 10px 15px;
	background: white;
	color: #444;
	}
.container pre {
	/*box-shadow: 0 0 15px rgba(0,0,0,0.1);
	border-radius: 5px;*/
	border: 1px dotted #aaa;
	box-shadow: 0 0 15px rgba(0,0,0,0.05);
	}

h1 {
	margin-top: 50px;
	text-align: center;
	}
h1 a {
	-webkit-transition: 0.8s all;
	}
h1 a:hover, h1 a:focus {
	-webkit-filter: hue-rotate(-70deg) saturate(1.5);
	}
h3.tagline {
	font-weight: 300;
	font-size: 30px;
	margin-top: -15px;
	color: #777;
	text-align: center;
	margin-bottom: 40px;
	}

h2 {
	margin-top: 40px;
	font-weight: 400;
	font-size: 28px;
}


.container .map {
	border: 1px solid #ccc;
}
.container .map:focus {
	border-color: #999;
}


h2, h3, .nav {
	font-family: 'Open Sans', sans-serif;
}


.nav {
	overflow: hidden;
	list-style: none;
	padding: 0 30px;
	text-align: center;
	font-size: 24px;
	margin-bottom: 50px;
	}
.nav li {
	display: inline;
	padding: 10px;
	font-weight: 300;
	color: #999;
	}
.nav li a {
	font-weight: 400;
	text-decoration: none;
	color: #0b3;
	}
.nav li a:hover {
	color: #0d5;
	}

a {
	color: #0a6;
}


.footer {
	margin-top: 50px;
	color: #777;
}


.usedby {
	background: #f7f7f7;
	margin: 30px 0 50px;
	text-align: center;
	padding: 5px 10px 10px;
	box-shadow: inset 0 0 25px rgba(0,0,0,0.05);
}

.logo {
	opacity: 0.5;
	padding-top: 55px;
	overflow: hidden;
	height: 0;
	margin-right: 20px;
	display: inline-block;
	background: url(https://www.mapbox.com/home/home.png);
}
.logo:hover {
	opacity: 1;
}

.logo-github { background-position: 50% -660px; width: 110px; }
.logo-wpost { background-position: 50% -720px; width: 170px; }
.logo-pinterest { background-position: 50% -1260px; width: 115px; }
.logo-foursquare { background-position: 50% -360px; width: 135px; }
.logo-500px { background-position: 50% -1200px; width: 65px; }
.logo-usatoday { background-position: 50% -420px; width: 100px; }
.logo-npr { background-position: 50% -600px; width: 120px; }
.logo-ftimes { background-position: 50% -780px; width: 145px; }
.logo-hipmunk { background-position: 50% -540px; width: 125px; }
.logo-nps { background-position: 50% -960px; width: 45px; padding-top: 60px; position: relative; top: 5px;}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.features {
	-webkit-column-count: 3;
}
.features ul {
	padding-left: 1.2em;
	margin: 0 0 1em;
}
.features h3 {
	margin: 0.5em 0;
}
.features h4 {
	margin: 0;
}

.quiet {
	color: #999;
}


th, td {
	text-align: left;
	padding: 2px 5px;
}


.twitter {
	position: absolute;
	top: 30px;
	right: 30px;
	opacity: 0.5;
}

.github {
	position: absolute;
	top: 80px;
	right: 20px;
	opacity: 0.5;
}

.twitter:hover, .github:hover {
	opacity: 1.0;
}
