
/* general styles */

html, body, input, select, button, textarea, table {
  font-size: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  line-height: 1.5;
  color: #333;
}

p {
	margin: 24px 0;
}

a {
  color: #1EB300;
}

a:hover, a:focus {
  color: #160;
}

hr {
	background: #ddd;
	color: #ddd;
	height: 1px;
	margin: 0 0 1.4em;
	border: none;
	clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	text-align: left;
  border: 0;
  padding: 1em;
}

table td {
  color: #666;
}

table td:first-child {
  color: #777;
}

table td:last-child {
  color: black;
}

table td code i {
  color: #00A707;
}

table td code b {
  color: black;
  font-weight: normal;
}

table tbody tr {
  background-color: #fafafa;
}

table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}


/* headings */

h2 {
  margin: 30px 0 20px;
  padding-top: 20px;
  font-weight: 400;
  font-size: 2em;
  font-weight: 300;
  color: black;
}

.container > h2:first-child {
  margin-bottom: 40px;
}

h2:target {
  color: #1EB300;
}

h3 {
	margin-top: 2em;
	color: #777;
}
h4 {
	color: #999;
	margin: 1em 0 0.5em;
}


/* general layout */

.container {
	max-width: 54em;
  padding: 0 6em 1.5em;
	margin: 0 auto;
}
.footer {
	margin-top: 50px;
	color: #777;
}


/* header */

h1 {
	margin: 1.25em 0 1.5em;
	text-align: center;
}

h1 a {
  display: block;
  margin: auto;
  padding: 0 2em;
	-webkit-transition: 0.8s all;
	-webkit-animation: leafanim 3s ease 3s 1 normal none;
  transition: 0.8s all;
  animation: leafanim 3s ease 3s 1 normal none;
}

@-webkit-keyframes leafanim {
	50% { -webkit-filter: hue-rotate(-70deg) saturate(1.2); }
}

@keyframes leafanim {
  50% { -webkit-filter: hue-rotate(-70deg) saturate(1.2); }
}

h1 a:hover, h1 a:focus {
	-webkit-filter: hue-rotate(-70deg) saturate(1.5);
}

h3.tagline {
	font-weight: 300;
	font-size: 30px;
	margin-top: -15px;
	color: #777;
	text-align: center;
	margin-bottom: 30px;
}

.nav {
	overflow: hidden;
	list-style: none;
	padding: 0 30px;
	text-align: center;
	font-size: 24px;
	margin-bottom: 40px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 40px;
}

.nav li {
	display: inline;
	padding: 10px;
	color: #999;
}

.nav li a {
	font-weight: 400;
	text-decoration: none;
}

.ext-links {
  position: fixed;
  top: 1.5em;
  right: 1.5em;
}

.ext-link {
  display: block;
  opacity: 0.5;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}
.ext-link:hover {
	opacity: 1;
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 0.5; }
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 0.5; }
}


/* content */

.container code, .container pre code {
	font-family: "Consolas", "Menlo", "Lucida Console", "Courier New", monospace;
  -webkit-font-smoothing: subpixel-antialiased;
}
.container pre code {
	padding: .75em 1em;
	background: white;
	color: #444;
  border-radius: 5px;
}
.container pre {
	border-radius: 5px;
}

.container .map {
	border: 1px solid #ccc;
}
.container .map:focus {
	border-color: #999;
}

.quiet {
	color: #999;
}


/* frontpage */

.map-home {
	height: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
}

h2.usedby-title {
	background: #999;
	border-radius: 0;
	margin-bottom: 0;
	text-align: center;
	font-weight: normal;
	text-shadow: none;
}
.usedby {
	background: #f7f7f7;
	margin: 0px 0 70px;
	text-align: center;
	padding: 10px 10px 15px;
	box-shadow: inset 0 0 25px rgba(0,0,0,0.2);
}

.logo {
	opacity: 0.6;
	padding-top: 55px;
	overflow: hidden;
	height: 0;
	margin-right: 20px;
	display: inline-block;
	background: url(https://www.mapbox.com/home/home@2x.png);
	background-size: 300px 1360px;
}
.logo:hover {
	opacity: 1;
}
.logo-github { background-position: 50% -660px; width: 110px; }
.logo-wpost { background-position: 50% -720px; width: 170px; }
.logo-pinterest { background-position: 50% -1260px; width: 115px; }
.logo-foursquare { background-position: 50% -360px; width: 135px; }
.logo-500px { background-position: 50% -1200px; width: 65px; }
.logo-usatoday { background-position: 50% -420px; width: 100px; }
.logo-npr { background-position: 50% -600px; width: 120px; }
.logo-ftimes { background-position: 50% -780px; width: 145px; }
.logo-hipmunk { background-position: 50% -540px; width: 125px; }
.logo-nps { background-position: 50% -960px; width: 45px; padding-top: 60px; position: relative; top: 5px;}

.features {
	-webkit-column-count: 3;
}
.features ul {
	padding-left: 1.2em;
	margin: 0 0 1em;
}
.features h3 {
	margin: 0.5em 0;
}
.features h4 {
	margin: 0;
}


/* tutorials */

.example-img {
	float: left;
  width: 10em;
  max-width: 100%;
  border-radius: 5px;
  margin: 0 1.5em 1.5em 0;
  border: thin solid #ccc;
}

.examples .container h3 {
  margin-top: 0;
}
.post-date {
	float: left;
	width: 130px;
	line-height: 1.6;
	color: #999;
	font-size: 18px;
}
.post-info {
	overflow: hidden;
}
.post-title {
	margin-top: 0;
}


/* plugins */

.plugins td:first-child,
.plugins td:last-child a {
	white-space: nowrap;
}

table.plugins td:first-child a {
  font-weight: bold;
}

.plugins-page .toc-col {
	float: left;
	width: 230px;
}


/* API docs */

.api-page .toc-col {
	float: left;
	width: 160px;
}
.map-col {
	width: 180px;
	border-right: 1px solid #ddd;
	margin-right: 40px;
}

#toc h4 {
	margin-top: 0;
}

#toc ul {
	padding: 0;
	list-style: none;
	margin-top: 0;
	margin-bottom: 25px;
}

.api-page table td {
	color: #666;
}
.api-page table td:first-child {
	color: #777;
}
.api-page table td:last-child {
	color: black;
}
.api-page table td:last-child code {
  word-break: break-word;
  white-space: pre-wrap;
}
.api-page table td code i {
	color: #9a9;
}
.api-page table td code b {
	color: black;
	font-weight: normal;
}
.api-page table td,
.api-page table th {
	font-size: 14px;
}

.api-page h4 {
	margin-top: 20px;
}

tr:target {
	background: yellow;
	-webkit-animation: highlight 2s ease 0.5s 1 normal forwards;
	        animation: highlight 2s ease 0.5s 1 normal forwards;
}

@-webkit-keyframes highlight {
	0%   { background: yellow; }
	100% { background: white; }
}
@keyframes highlight {
	0%   { background: yellow; }
	100% { background: white; }
}

.api-page h2[id]:before,
.api-page tr[id] td:first-child:before {
	content: 'Permalink';
	display: inline-block;
	margin: 0px 5px 0px -35px;
	width: 30px;
	height: 0;
	overflow: hidden;
	padding-top: 20px;
	line-height: 20px;
	vertical-align: baseline;
	background: url(../images/sprite.png) -0px -0px no-repeat;
	opacity: 0.2;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
}

.api-page h2[id]:before {
	margin-left: -40px;
	margin-top: 10px;
}

.api-page tr[id] td:first-child:before {
  opacity: 0;
}

.api-page tr[id]:hover td:first-child:before {
  opacity: 1;
}

.api-page h2[id]:hover:before { opacity: 1; }

@media (-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi) {
  .api-page h2[id]:before,
  .api-page tr[id] td:first-child:before {
    background-image: url(../images/sprite.svg);
  }
}
