
body {
	font: 16px/1.5 'Open Sans', Arial, Helvetica, sans-serif;
	color: #333;
	}

.container {
	max-width: 920px;
	padding: 0 30px;
	margin: 0 auto;
}

p {
	margin: 24px 0;
	}

.container code, .container pre code {
	font-family: "Consolas", "Menlo", "Lucida Console", "Courier New", monospace;
	}
.container pre code {
	padding: 10px 15px;
	background: white;
	color: #444;
	}
.container pre {
	border-radius: 5px;
	border: 1px dotted #aaa;
	box-shadow: 0 0 15px rgba(0,0,0,0.05);
	}

h1 {
	margin: 50px 0 20px;
	text-align: center;
	}
h1 a {
	-webkit-transition: 0.8s all;
	-webkit-animation: leafanim 3s ease 3s 1 normal none;
	}
@-webkit-keyframes leafanim {
	50%  { -webkit-filter: hue-rotate(-70deg) saturate(1.2); }
}
h1 a:hover, h1 a:focus {
	-webkit-filter: hue-rotate(-70deg) saturate(1.5);
	}
h3.tagline {
	font-weight: 300;
	font-size: 30px;
	margin-top: -15px;
	color: #777;
	text-align: center;
	margin-bottom: 30px;
	}

h2 {
	margin: 50px 0 20px;
	font-weight: 400;
	font-size: 28px;
}


.container .map {
	border: 1px solid #ccc;
}
.container .map:focus {
	border-color: #999;
}


h2, h3, .nav {
	font-family: 'Open Sans', sans-serif;
}

h3 {
	margin-top: 2em;
	color: #777;
}

.nav {
	overflow: hidden;
	list-style: none;
	padding: 0 30px;
	text-align: center;
	font-size: 24px;
	margin-bottom: 40px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 40px;
	}
.nav li {
	display: inline;
	padding: 10px;
	font-weight: 300;
	color: #999;
	}
.nav li a {
	font-weight: 400;
	text-decoration: none;
	color: #0b3;
	}
.nav li a:hover {
	color: #0d5;
	}

a {
	color: #0a6;
}

.map-home {
	height: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
}


.footer {
	margin-top: 50px;
	color: #777;
}


h2.usedby-title {
	background: #888;
	border-radius: 0;
	margin-bottom: 0;
	text-align: center;
	font-weight: normal;
	text-shadow: none;
}
.usedby {
	background: #f0f0f0;
	margin: 0px 0 70px;
	text-align: center;
	padding: 10px 10px 15px;
	box-shadow: inset 0 0 25px rgba(0,0,0,0.1);
}

.logo {
	opacity: 0.5;
	padding-top: 55px;
	overflow: hidden;
	height: 0;
	margin-right: 20px;
	display: inline-block;
	background: url(https://www.mapbox.com/home/home@2x.png);
	background-size: 300px 1360px;
	}

.logo:hover {
	opacity: 1;
}

.logo-github { background-position: 50% -660px; width: 110px; }
.logo-wpost { background-position: 50% -720px; width: 170px; }
.logo-pinterest { background-position: 50% -1260px; width: 115px; }
.logo-foursquare { background-position: 50% -360px; width: 135px; }
.logo-500px { background-position: 50% -1200px; width: 65px; }
.logo-usatoday { background-position: 50% -420px; width: 100px; }
.logo-npr { background-position: 50% -600px; width: 120px; }
.logo-ftimes { background-position: 50% -780px; width: 145px; }
.logo-hipmunk { background-position: 50% -540px; width: 125px; }
.logo-nps { background-position: 50% -960px; width: 45px; padding-top: 60px; position: relative; top: 5px;}



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.features {
	-webkit-column-count: 3;
}
.features ul {
	padding-left: 1.2em;
	margin: 0 0 1em;
}
.features h3 {
	margin: 0.5em 0;
}
.features h4 {
	margin: 0;
}

.quiet {
	color: #999;
}


th, td {
	text-align: left;
	padding: 8px 10px;
	border: 1px solid #ccc;
}
th {
	background: #eee;
	text-shadow: 1px 1px 0 white;
	background-color: #eeeeee;
	background-image: -webkit-linear-gradient(top, #eeeeee, #d7d7d7);
	background-image:         linear-gradient(to bottom, #eeeeee, #d7d7d7);
}
table {
	width: 100%;
	border-collapse: collapse;
}


.ext-link {
	position: fixed;
	right: 20px;
	opacity: 0.5;
	-webkit-animation: fadein 1s;
	}

@-webkit-keyframes fadein {
	0% { opacity: 0; }
	100%  { opacity: 0.5; }
	}

.ext-link:hover {
	opacity: 1;
}
.github {
	top: 20px;
}
.twitter {
	top: 76px;
}
.forum {
	top: 132px;
}

hr {
	background: #ddd;
	color: #ddd;
	height: 1px;
	margin: 0 0 1.4em;
	border: none;
	clear: both;
}

.example-img {
	float: left;
	margin: 0 18px 18px 0;

}

.post-date {
	float: left;
	width: 130px;
	line-height: 1.6;
	color: #999;
	font-size: 18px;
}

.post-info {
	overflow: hidden;
}

.post-title {
	margin-top: 0;
}


.plugins td:first-child,
.plugins td:last-child {
	white-space: nowrap;
}


h4 {
	color: #999;
	margin: 1em 0 0.5em;
}



h2 {
	font-weight: bold;
	padding: 3px 15px 5px;
	margin-bottom: 22px;
	background: #edeeef;

	color: white;

	background-color: #b0de5c;
	background-image: -moz-linear-gradient(top, #b0de5c, #82cb00); /* FF3.6 */
	background-image: -o-linear-gradient(top, #b0de5c, #82cb00); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b0de5c), to(#82cb00)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #b0de5c, #82cb00); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(top, #b0de5c, #82cb00);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b0de5c', EndColorStr='#82cb00'); /* IE6�IE9 */

	border-radius: 7px;

	text-shadow: 0 -1px 1px rgba(0,0,0,0.35);
	}
