@import url(//fonts.googleapis.com/css?family=Roboto:300,400,400italic,700);

html, body, input, select, button, textarea, table {
  font-size: 100%;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  background: white;
  position: relative;
  z-index: 1;
  padding: 1em 2em 2em;
  max-width: 50em;
  width: auto;
}

h1 {
  margin-bottom: 0;
}

h1 a {
  display: block;
  height: 0;
  padding-top: 73px;
  width: 220px;
  overflow: hidden;
  background: url(../images/logo.png) 0 0 no-repeat;
  margin-left: -10px;
  margin-bottom: 8px;
  text-decoration: none;
  -webkit-transition: 0.8s all;
  -webkit-animation-duration: 60s;
  -webkit-animation-delay: 15s;
  -webkit-animation-name: rainbow;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  transition: 0.8s all;
  animation-duration: 60s;
  animation-delay: 15s;
  animation-name: rainbow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes rainbow {
  from {
    -webkit-filter: none;
  }

  to {
    -webkit-filter: hue-rotate(-360deg) saturate(1.5);
  }
}


@keyframes rainbow {
  from {
    -webkit-filter: none;
  }

  to {
    -webkit-filter: hue-rotate(-360deg) saturate(1.5);
  }
}


@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  h1 a {
    background-image: url(../images/logo.svg);
    background-size: 200px;
    background-position: 10px center;
  }
}

h1 a:hover, h1 a:focus {
  -webkit-filter: hue-rotate(-70deg) saturate(1.5);
}

h2 {
  font-size: 1.75em;
  margin-top: 1em;
  margin-bottom: .75em;
  font-weight: 700;
  border-bottom: 2px solid;
}

h2:target {
  color: #b0de5c;
}

.api-page h2, .plugins-page h2, .plugins-page h3 {
  cursor: pointer;
}

.api-page h2[id]:before,
.plugins-page h2[id]:before,
.plugins-page h3[id]:before,
.api-page tr[id] td:first-child:before {
  content: 'Permalink';
  display: inline-block;
  margin: 0px 5px 0px -35px;
  width: 30px;
  height: 20px;
  line-height: 20px;
  vertical-align: baseline;
  background: url(../images/sprite.png) 0px 0px no-repeat;
  opacity: 0.2;
  border-radius: 50%;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
}

.api-page h2[id]:before,
.plugins-page h2[id]:before {
  height: 30px;
  line-height: 30px;
  background-position: 0px 10px;
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .api-page h2[id]:before,
  .plugins-page h2[id]:before,
  .plugins-page h3[id]:before,
  .api-page tr[id] td:first-child:before {
    background-image: url(../images/sprite.svg);
  }
}

.plugins-page h3[id]:before {
  margin: 0px 5px 0px -23px;
}

.api-page tr[id] td:first-child:before {
  opacity: 0;
}

.api-page tr[id]:hover td:first-child:before {
  opacity: 1;
}

.api-page h2[id]:hover:before,
.plugins-page h2[id]:hover:before,
.plugins-page h3[id]:hover:before {
  opacity: 1;
}

.api-page h2 {
  margin-top: 1.5em;
  padding-top: 1em;
}

.api-page h3 {
  margin-top: .5em;
  padding-top: 1em;
}

h3 {
  margin-top: 1.5em;
  font-size: 1.333em;
}

h4 {
  margin-bottom: 0.5em;
  line-height: inherit;
  font-size: 1.1em;
  font-weight: bold;
  color: #777;
}

h3.alt {
  color: #999;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.25em;
}

h3.alt a {
  color: #56b1ee;
  text-decoration: none;
}

h3.alt a:hover {
  text-decoration: underline;
}

.container code, .container pre code {
  font-family: "Consolas", "Menlo", "Lucida Console", "Courier New", monospace;
  -webkit-font-smoothing: subpixel-antialiased;
}

.container pre code {
  padding: .75em 1em;
  background: #3E474C;
  color: #f8f8f2;
  border-radius: 5px;
}

pre code a {
  text-decoration: none;
}

pre code a:hover {
  text-decoration: underline;
}

p code, td:last-child code {
  color: #666;
  background: transparent;
  padding: 0;
}

p, ul, ol, table {
  font-size: 13px;
}

code {
  font-size: 12px;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #eeeeee;
  padding: 5px 10px;
}

th, td {
  vertical-align: top;
  /*line-height: 1.4;*/
}

td {
  padding: 8px 10px;
}

.nav {
  margin: 1em 0 2em;
  padding: 0;
  list-style: none;
  font-size: 1.025em;
}

.nav li {
  display: inline-block;
  vertical-align: middle;
}

.nav li a, .nav li span {
  display: block;
  padding: .5em 0;
  margin-right: .5em;
  border-bottom: 2px solid transparent;
}

.nav li:nth-last-child(4) ~ li {
  float: right;
  padding: .25em;
}

.nav a {
  text-decoration: none;
  color: #555;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  -webkit-transition: 0.08s all;
  border-bottom: 2px solid transparent;
}

.nav li span {
  color: #000;
  border-bottom-color: inherit;
}

.nav li a:hover, .nav li a:focus, .nav li a.active {
  color: black;
  border-bottom-color: #aaa;
}

.nav li a.github-link,
.nav li a.twitter-link,
.nav li a.forum-link {
  font-size: 12px;
  color: #555;
  float: right;
  border-right: none;
  padding-left: 1.75em;
  background-position: left;
}

.nav li a.github-link {
  background-image: url(../images/github.png);
}

.nav li a.twitter-link {
  background-image: url(../images/twitter.png);
}

.nav li a.forum-link {
  background-image: url(../images/forum.png);
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .nav li a.github-link,
  .nav li a.twitter-link,
  .nav li a.forum-link {
    background-size: 16px;
  }

  .nav li a.github-link {
    background-image: url(../images/github@2x.png);
  }

  .nav li a.twitter-link {
    background-image: url(../images/twitter@2x.png);
  }

  .nav li a.forum-link {
    background-image: url(../images/forum@2x.png);
  }
}

.nav li a.github-link:hover,
.nav li a.twitter-link:hover,
.nav li a.forum-link:hover {
  color: black;
}

#toc ul {
  list-style-type: none;
  padding-left: 0;
}

#toc .colborder {
  padding-right: 14px;
}

#toc .span-3 {
  margin: 0;
  padding-right: 3em;
  width: 16.825%;
  box-sizing: border-box;
}

#toc .span-3.last {
  padding-right: 0;
}

#toc-copy {
  display: none;
}

#toc-copy div {
  border: 0;
  margin: 0;
  padding: 0;
  width: auto;
  float: none;
}

#toc-copy h4 {
  margin: 0;
  padding-bottom: .333em;
}

#toc-copy ul {
  display: none;
  list-style: none;
}

#toc-copy ul li {
  white-space: nowrap;
}

#toc-copy ul li a {
  position: relative;
  padding: .25em .5em 0;
  font-size: 1.125em;
  z-index: 10;
}

@media screen and (max-width: 1350px) {
  #toc-copy {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    opacity: 0;
    transition: opacity .2s ease;
    cursor: pointer;
  }

  #toc-copy > div {
    display: none;
  }

  .scrolled #toc-copy {
    opacity: 1;
  }

  #toc-copy.active {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2em;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: default;
    box-sizing: border-box;
  }

  #toc-copy:before,
  #toc-copy:after {
    content: '';
    position: absolute;
    left: 5px;
    width: 22px;
    height: 14px;
    border-top: 2px solid black;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform .25s ease;
  }

  #toc-copy:before {
    top: 9px;
    border-bottom: 2px solid black;
  }

  #toc-copy:after {
    top: 15px;
  }

  #toc-copy.active:before {
    top: 5px;
    left: 9px;
    border-bottom: 0;
    transform: rotate(-135deg);
  }

  #toc-copy.active:after {
    top: 13px;
    left: 9px;
    transform: rotate(-45deg);
  }

  #toc-copy.active div {
    display: block;
  }

  #toc-copy h4.active, #toc-copy h4:hover {
    color: black;
    cursor: pointer;
  }

  #toc-copy h4.active + ul {
    display: block;
    padding: 0;
    margin: 0 0 .5em;
  }

  #toc-copy ul li a {
    padding: .25em 0;
  }
}

@media screen and (min-width: 900px) and (max-width: 1350px) {
  #toc-copy {
    width: 40px;
    height: 40px;
  }

  #toc-copy.active {
    padding: 2.5em;
  }

  #toc-copy:before,
  #toc-copy:after {
    left: 8px;
  }

  #toc-copy:before {
    top: 13px;
  }

  #toc-copy:after {
    top: 19px;
  }

  #toc-copy.active:before {
    top: 7px;
    left: 10px;
  }

  #toc-copy.active:after {
    top: 15px;
    left: 10px;
  }
}

@media screen and (min-width: 1350px) and (min-height: 600px) {
  #toc-copy {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2em;
    width: auto;
    height: auto;
    display: block;
    opacity: 0;
    transition: opacity .25s ease;
  }

  #toc-copy:before {
    content: 'Table of contents';
    margin: -.25em 0 1em;
    display: block;
    font-size: 75%;
    text-transform: uppercase;
    font-weight: 300;
  }

  .scrolled #toc-copy {
    opacity: 1;
  }

  #toc-copy h4 {
    padding-right: 5em;
  }

  #toc-copy ul {
    position: absolute;
    left: 100%;
    margin: -5.333em 0 0 -7em;
    padding: 3em 6em 3em 0;
  }

  #toc-copy h4:hover + ul,
  #toc-copy ul:hover {
    display: block;
  }

  #toc-copy h4:hover + ul:before,
  #toc-copy ul:hover:before {
    content: '';
    position: absolute;
    top: 3.775em;
    right: 100%;
    margin-right: .25em;
    width: 1em;
    height: 1em;
    border-top: 2px solid #eee;
  }

  #toc-copy h4:hover, #toc-copy h4.hover {
    color: black;
    cursor: pointer;
  }
}

#map-class {
  margin-top: 1em;
}

a.nodocs {
  color: #bbb;
}

#features {
  margin-top: -1.5em;
}

#features .quiet {
  color: #777;
}

.noimpl {
  color: #bbb;
}

.container .map {
  border: 1px solid #ccc;
  margin: 1.5em 0;
}

.container .map:focus {
  border-color: #999;
}

h3 span {
  color: #888;
}

.example-img {
  float: left;
  margin: 0 18px 18px 0;
  padding: 1px;
}

.bordered-img {
  padding: 0;
  border: 1px solid #ddd;
}

.text-cut[class] {
  font-size: 0;
  color: white;
}

.text-cut:after {
  content: attr(data-cut);
  font-size: 12px;
  color: #777;
}

.last ul {
  margin-right: 0;
}

table td {
  color: #666;
}

table td:first-child {
  color: #777;
}

table td:last-child {
  color: black;
}

table td code i {
  color: #00A707;
}

table td code b {
  color: black;
  font-weight: normal;
}

table tbody tr {
  background-color: #fafafa;
}

table tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}

th, td {
  border: 0;
  padding: 1em;
}

.width250 {
  width: 250px;
}

.width200 {
  width: 200px;
}

.width300 {
  width: 300px;
}

.width100 {
  width: 100px;
}

.width140 {
  width: 140px;
}

.minwidth {
  width: 1px;
}

table.factory-table {
  width: 1px;
}

table.factory-table td, table.factory-table th {
  white-space: nowrap;
  color: black;
}

.factory-usage {
  white-space: nowrap;
}

.factory-usage code {
  color: black;
}

.social-buttons {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2.5em;
  right: 3em;
}

.twitter-follow-button {
  margin-left: 10px;
}

.footer {
  margin-top: 2.5em;
}

dl {
  overflow: hidden;
}

dl dt {
  font-size: 14px;
  font-weight: normal;
  float: left;
  clear: left;
  width: 160px;
}

dl dd {
  margin-bottom: 2em;
  float: left;
  width: 500px;
}

.plugins td:first-child, .plugins td:last-child {
  white-space: nowrap;
}

.plugins td {
  color: black;
}

#back-to-top {
  text-decoration: none;
  padding: 0px 10px 2px;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 16px;
  position: fixed;
  top: -1px;
  left: 0;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

.api-page td pre {
  margin: 1em 0 0;
}

.api-page td pre code {
  padding: 0 10px;
  border: 0;
  box-shadow: none;
}

p.notice {
  border: none;
  border-radius: 10px;
  color: #444;
  background: #DBF8A7;
  padding: 5px 10px;
  margin-bottom: 1.5em;
}

.usedby a {
  text-decoration: none;
  margin: 0 2px;
  color: #777;
  font-size: 13px;
}

.usedby a:hover {
  text-decoration: underline;
  color: black;
}

.usedby {
  background: #f3f3f3;
  border-radius: 5px;
  padding: 5px 7px;
  margin: 1.5em -7px;
  white-space: nowrap;
  overflow: hidden;
}

.post-title {
  margin-top: 0;
}

.post-date {
  color: #777;
  font-size: 18px;
  line-height: 1;
}

.post-meta {
  color: #888;
  margin-top: -1em;
}

#disqus_thread {
  margin-top: 3em;
}

tr:target {
  background: yellow;
  -webkit-animation: highlight 2s ease 0.5s 1 normal forwards;
  -moz-animation: highlight 2s ease 0.5s 1 normal forwards;
  -o-animation: highlight 2s ease 0.5s 1 normal forwards;
  animation: highlight 2s ease 0.5s 1 normal forwards;
}

@-webkit-keyframes highlight {
  0% {
    background: yellow;
  }

  100% {
    background: white;
  }
}


@-moz-keyframes highlight {
  0% {
    background: yellow;
  }

  100% {
    background: white;
  }
}


@keyframes highlight {
  0% {
    background: yellow;
  }

  100% {
    background: white;
  }
}


@media screen and (max-width: 767px) {
  .social-buttons {
    position: static;
    text-align: center;
    padding: .5em;
  }

  h3.alt {
    text-align: center;
    margin-top: 0;
  }

  h1 a {
    max-width: 100%;
    background-size: contain;
    margin: auto;
    width: 180px;
    padding-top: 60px;
  }

  .nav li {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 .5em;
    margin: 0 0 .5em;
  }

  .nav li a, .nav li span {
    border-bottom-color: #eee;
    margin: 0;
    padding: .25em 0;
  }

  .nav li span {
    border-bottom-color: inherit;
  }

  .nav li:nth-last-child(4) + li {
    clear: both;
  }

  .nav li:nth-last-child(4) ~ li {
    float: left;
    width: auto;
    padding: .5em .333em;
  }

  .nav li a.github-link,
  .nav li a.twitter-link,
  .nav li a.forum-link {
    float: none;
    padding: .5em .5em .5em 2em;
    border: 0;
  }

  #toc .colborder {
    padding: 0;
  }

  .colborder {
    margin: 0;
    border: 0;
  }

  #toc .span-3, #toc .span-4, #toc .span-5 {
    width: 50%;
    float: none;
    display: inline-block;
    margin: 0;
    padding-right: .5em;
    margin-right: -.25em;
    vertical-align: top;
    box-sizing: border-box;
  }

  #toc .span-3.last {
    clear: both;
  }

  .container pre code {
    word-wrap: break-word;
    white-space: pre;
  }

  .nav {
    margin: 1em -.5em;
  }

  table.plugins tbody tr {
    display: block;
    padding-bottom: 1em;
  }

  table.plugins tbody tr td {
    white-space: normal;
    display: inline-block;
    padding-bottom: 0;
  }

  table.plugins tr:first-child {
    padding-bottom: 0;
  }

  table.plugins tr:first-child th {
    display: block;
  }

  table.plugins tr:first-child th ~ th {
    display: none;
  }

  table.plugins td:first-child {
    display: block;
    white-space: normal;
  }

  .api-page table tbody tr {
    display: block;
  }

  .api-page table tbody tr th,
  .api-page table tbody tr td {
    display: inline-block;
    background-color: transparent;
    width: auto;
  }

  .api-page table tr:first-child th ~ th {
    display: none;
  }

  .api-page table tbody tr th:nth-child(2),
  .api-page table tbody tr th:nth-child(3) {
    display: inline-block;
  }

  .api-page table tr th:last-child {
    display: none !important;
  }

  .api-page table tbody tr td:last-child {
    display: block;
    border-top: thin dashed #ddd;
    padding: 1em;
  }

  .api-page table tbody tr td:last-child:before {
    content: 'Description';
    display: block;
    text-transform: uppercase;
    font-size: 90%;
    margin-bottom: .75em;
    color: #666;
  }

  td code {
    word-break: break-word;
  }
}

@media screen and (max-width: 54em) {
  #features {
    width: auto;
    float: none;
  }

  #features .span-6, #features .span-9, #features .span-5 {
    float: none;
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 16em;
    padding-right: 1em;
  }
}

@media screen and (max-width: 500px) {
  .example-img {
    float: none;
    display: block;
    margin: 0 0 -1em;
    border: 0;
  }
}
