.container {
	padding-top: 40px;
	width: 790px;
	}
code {
	font-family: Courier, monospace;
	}
.container pre code {
	padding: 10px 15px;
	border: 1px solid #ccc;
	background: white;
	font-family: Courier, monospace;
	color: #444;
	
	box-shadow: 0 0 15px #ddd;
}
	
h1 {
	text-shadow: 1px 1px 3px #888;
	}
h2 {
	margin-top: 2.5em;
	padding: 0.3em 20px 0.2em;
	margin-left: -20px;
	margin-right: -12px;
	background: #edeeef;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
h3 {
	margin-top: 1.5em;
	}
h3.alt {
	margin-top: 0;
	}
h4 {
	margin-bottom: 0.2em;
	line-height: inherit;
	font-size: 1em;
	font-weight: bold;
	color: #555;
	}
/*.container p {
	margin-right: 160px;
	}*/
.alt {
	color: #999;
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: normal;
	}

#map {
	height: 250px;
	border: 1px solid #ccc;
	-moz-box-shadow: 0px 0px 10px #aaa; 
	-webkit-box-shadow: 0px 0px 10px #aaa; 
	box-shadow: 0px 0px 10px #aaa; 
	}

.nav {
	list-style: none;
	padding: 0;
	font-size: 1.2em;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 1px solid #dcddde;
	overflow: hidden;
	
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.3, white),color-stop(1, #eff0f1));
	border-radius: 15px;
	box-shadow: 0 0 8px #eee;
	}
	.nav a {
		text-decoration: none;
		color: #555657;
	}
	.nav li span {
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.3, #f8f9fa),color-stop(1, #d4d5d6));
		color: #333;
	}
	.nav li a:hover {
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.4, #f6f7f8),color-stop(1, #eff0f1));
		color: black;
	}
	.nav li a, .nav li span {
		float: left;
		display: inline;
		padding: 10px 15px;
		border-right: 1px solid #ddd;
		}
	.nav li a.github-link,
	.nav li a.twitter-link {
		padding-left: 35px;
		font-weight: normal;
		float: right;
		border-right: none;
		border-left: 1px solid #ddd;
		}
	.nav li a.cloudmade-link {
		padding: 4px 8px;
		opacity: 0.7;
		}
	.nav li a.cloudmade-link img {
		margin: 0;
		display: block;
		}
	.nav li a.github-link {
		background: url(https://github.com/favicon.png) 15px center no-repeat;
		}
	.nav li a.twitter-link {
		background: url(http://twitter.com/phoenix/favicon.ico) 15px center no-repeat;
		}
	

table { border-collapse: collapse; }
th { background:/*#e5ecf9;*/ #f3f3f3; }

th, td {
	padding: 4px 5px;
	}

#forkme {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
	opacity: 0.4;
	}
a:hover #forkme {
	opacity: 1;
	}
	
.javascript .keyword {
	}
	
#toc {
	padding-left: 20px;
}
	
#toc ul {
	list-style-type: none;
	padding-left: 0;
	}
#toc .colborder {
	padding-right: 14px;
	}	

#map-class {
	margin-top: 1.5em;
	}
a.nodocs {
	color: #f44;
	}
	
#features {
	margin-top: -1.5em;
	}
#features .quiet {
	color: #777;
	}
.noimpl {
	color: #bbb;
	}