{
  "rules": {
    "no-unused-vars": 0,
    "quotes": 0,
    "no-shadow": 0,
    "no-irregular-whitespace": 0,
    "no-console": 0,
    "no-extend-native": 0
  },
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": false,
    "sinon": false,
    "happen": false,
    "Hand": false,
    "takeScreenshot"
  }
}
